.webist-nav-logo {
  width: 180px;
}
.height {
  height: 100px;
}
.header-d-flex {
  list-style-type: none;
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #64748b;
  font-weight: 400;
}
.btn-header {
  padding: 6px;
}
